<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>ffmpeg-mr-demux.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ffmpeg-mr-full.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ffmpeg-mr-job.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ffmpeg-mr-mapper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ffmpeg-mr-merge.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ffmpeg-mr-remux.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ffmpeg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E23F59FB145C319F004042C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2848C6C1430E35500E06673</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2A7921B15120A5F00121FFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2A7922815120A9E00121FFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2C35A72145708D600902770</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2E4065F1475E733008051BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
